@font-face {
  font-family: "iconfont"; /* Project id 3688849 */
  src: url('iconfont.woff2?t=1665295487766') format('woff2'),
       url('iconfont.woff?t=1665295487766') format('woff'),
       url('iconfont.ttf?t=1665295487766') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jingyin:before {
  content: "\e65e";
}

.icon-shengyin_shiti:before {
  content: "\eca5";
}

.icon-shangyiyehoutuifanhui-yuankuang:before {
  content: "\e8ef";
}

.icon-close:before {
  content: "\e747";
}

.icon-baidu:before {
  content: "\e8cb";
}

.icon-xinxi:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-huanfu:before {
  content: "\e62e";
}

